.acciones {
    height: 80px;
    width: 100%;
}

/* ORDENAR Y FILTRAR */

.filtrar {
    top: 160px;
    right: 415px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.ordenar{
    right: 727px;
    top: 160px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.sel_filtrar {
    font-size: 1em;
    color: #666;
    position: absolute;
    width: 190px;
    top: 155px;
    right: 220px;
}

.sel_ordenar {
    font-size: 1em;
    color: #666;
    position: absolute;
    right: 602px;
    top: 155px;
    width: 120px;
}

.btn_filtrar {
    position: absolute;
    right: 150px;
    top: 155px;
}

.btn_ordenar {
    position: absolute;
    top: 155px;
    right: 515px;
}

.abc {
    position: absolute;
    top: 200px;
    right: 150px;
}

.button_abc {
    border: none;
    background-color: transparent;
    font-size: 0.9em;
    font-weight: bold;
    color: #000;
    width: 17px;
}

/* BORDE */

.borde_item {
    border: 3px solid #232323;
}

.borde_item:hover {
    
}