.acciones {
    height: 50px;
    width: 100%;
}

/* ORDENAR Y FILTRAR */

.filtrar {
    top: 160px;
    right: 330px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.ordenar{
    right: 665px;
    top: 160px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.sel_filtrar {
    font-size: 1em;
    color: #666;
    position: absolute;
    width: 105px;
    top: 155px;
    right: 220px;
}

.sel_ordenar {
    font-size: 1em;
    color: #666;
    position: absolute;
    right: 535px;
    top: 155px;
    width: 120px;
}

.btn_filtrar {
    position: absolute;
    right: 150px;
    top: 155px;
}

.btn_ordenar {
    position: absolute;
    top: 155px;
    right: 450px;
}