// Place all the styles related to the estanteria controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.totalM {
    display: table;
    width: 900px;
    height: 180px;
    background-color: #FFF;
    float: none;
    position: relative;
    display: inline-block;
    margin-top: 5em;
}

/* PARA INFORMACION */

.infoM {
    top: 10px;    
    left: 180px;
    position: absolute;
    display: inline-block;
}

.nameM {
        font-family: 'Roboto Condensed',sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 10px;
    display: block;
    text-align: left;
    padding-right: 150px;
    width: 700px;
}

.genresM {
    width: auto;
    height: auto;
    font-style: italic;
    color: #666;
    font-size: 1em;
    text-align: left;
    display: block;
    position: absolute;
    left: 70px;
    top: 62px;
}

.argumentoM {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 5px;
    color: #000;
    text-align: left;
    padding-top: 10px;
    left: 0;
    top: 54px;
    position: absolute;
}

.overview {   
    width: auto;
    height: auto;
    text-align: left;
    display: block;
    padding-right: 10px;
}

.control:hover {
    color: #28a1d8;
    text-decoration: none;
}

.festrenoM {
    left: 180px;
    bottom: 55px;
    color: #000;
    font-size: 0.5em;
    position: absolute;
}

.release_dateM {
    color: #666;
    font-size: 1em;
    left: 245px;
    bottom: 55px;
    position: absolute;
}

/* PARA POSTER */

.movie_imageM {
    display: table-row;
    width: 155px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    height: 155px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.55);
    position: relative;
    float: left;
    border: 3px solid #242121;
}

.tam_posterM {
    width: 155px;
    height: 155px;
}

/* X DE CERRAR */

.close-dialog {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    z-index: 1002;
    color: white;
}

.close-dialog:hover {
    color: grey;
}

/* BOTON LO TENGO */

.eliminarM {
    position:absolute;
    right:10px;
    top:10px;
    z-index:0;
}

/* PREV y NEXT */

.next-issue {
    display: block;
    position: fixed;
    top: 45%;
    right: 22px;
    width: 31px;
    height: 34px;
    overflow: hidden;
    background: no-repeat 0 0 transparent;
    color: #FFF;
}

.next-issue:hover {
    color: grey;
}

.prev-issue {
    display: block;
    position: fixed;
    top: 45%;
    left: 0;
    width: 31px;
    height: 34px;
    color: #FFF;
    overflow: hidden;
    background: no-repeat 0 -79px transparent;
}

.prev-issue:hover {
    color: grey;
}

.num_copiasM {
    left: 180px;
    bottom: 25px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.text_copiasM {
    left: 315px;
    bottom: 20px;
    position: absolute;
    width: 70px;
}

.ubicacionM {
    left: 400px;
    bottom: 25px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.text_ubicacionM {
    left: 480px;
    bottom: 20px;
    position: absolute;
    width: 70px;
}

.pos_medioM {
    font-size: 1em; 
    font-weight: bold;
    color: #000;
    right: 200px;
    top: 122px;
    position: absolute;
    width: 100%;
}
