// Place all the styles related to the estanteria controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.totalP {
    display: table;
    width: 900px;
    height: 480px;
    background-color: #FFF;
    float: none;
    position: relative;
    display: inline-block;
    margin-top: 5em;
}

/* PARA INFORMACION */

.infoP {
    top: 10px;    
    left: 335px;
    position: absolute;
    display: inline-block;
}

.nameP {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 10px;
    display: block;
    text-align: left;
    padding-right: 150px;
}

.genresP {
    width: auto;
    height: auto;
    font-style: italic;
    color: #666;
    font-size: 1em;
    text-align: left;
    display: block;
}

.argumentoP {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 5px;
    color: #000;
    text-align: left;
    padding-top: 10px;
}

.overviewP {   
    width: auto;
    height: auto;
    text-align: left;
    display: block;
    padding-right: 10px;
}

.control:hover {
    color: #28a1d8;
    text-decoration: none;
}

.festrenoP {
    left: 10px;
    bottom: 0px;
    color: #000;
    font-size: 0.5em;
    position: absolute;
}

.release_dateP {
    color: #666;
    font-size: 1em;
    left: 75px;
    bottom: 0px;
    position: absolute;
}

.puntP {
    left: 10px;
    bottom: 20px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.vote_averageP {
    font-size: 1em;
    color: #666;
    position: absolute;
    left: 140px;
    bottom: 20px;
}

/* PARA POSTER */

.movie_imageP {
    display: table-row;
    width: 310px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    height: 425px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.55);
    position: relative;
    float: left;
    border: 3px solid #242121;
}

/* X DE CERRAR */

.close-dialog {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    z-index: 1002;
    color: white;
}

.close-dialog:hover {
    color: grey;
}

/* BOTON LO TENGO */

.eliminarP {
    position:absolute;
    right:10px;
    top:10px;
    z-index:0;
}

/*

.lo_tengo {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    width: 125px;
    color: #68aba7;
    text-align: center;
    border: solid 2px #72c1b9;
    background-color: #fff;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.bt {
    font-family: Arial;
    font-size: 11px;
    line-height: 30px;
    padding: 0 23px;
    height: 30px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #e7e8e8;
    background-color: #f3f3f3;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
}

.bt:hover {
    background-color: #f3f3f3;
    border-color: #d0d0d0;
    color: #555;
    text-decoration: none;
}

.rem {
    background-color: #72c1b9;
    color: #fff;  
}

.rem:hover {
    background-color: #fff;
    color: #72c1b9;
}

* > .fa.fa-hover-show,
*:hover > .fa.fa-hover-hidden {
  display: none;
}
*:hover > .fa.fa-hover-show {
  display: inline-block;
}

*/

/* PREV y NEXT */

.next-issue {
    display: block;
    position: fixed;
    top: 45%;
    right: 22px;
    width: 31px;
    height: 34px;
    overflow: hidden;
    background: no-repeat 0 0 transparent;
    color: #FFF;
}

.next-issue:hover {
    color: grey;
}

.prev-issue {
    display: block;
    position: fixed;
    top: 45%;
    left: 0;
    width: 31px;
    height: 34px;
    color: #FFF;
    overflow: hidden;
    background: no-repeat 0 -79px transparent;
}

.prev-issue:hover {
    color: grey;
}

/* TAM IMAGEN */

.tam_posterP {
    width: 310px;
    height: 425px;
}

/* Modal confirm */

.pos {
    float: right;
    display: inline-block;
    margin-right: 10px;
}

/* SOPORTE Y COPIAS */

.sel_soporteP {
    right: 255px;
    top: 386px;
    position: absolute;
    width: 105px;
}

.text_copiasP {
    left: 810px;
    bottom: 50px;
    position: absolute;
    width: 70px;
}

.text_ubicacionP {
    left: 810px;
    bottom: 10px;
    position: absolute;
    width: 70px;
}

.soporteP {
    left: 425px;
    bottom: 55px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.num_copiasP {
    left: 670px;
    bottom: 55px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.ubicacionP {
    left: 725px;
    bottom: 15px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.pos_medioP {
    right: 367px;
    top: 432px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
    width: 100%;
}

.sel_platP {
    right: 255px;
    top: 426px;
    position: absolute;
    width: 105px;
}