// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*

.item.card {
    width: auto;
    height: auto;
    display: table;
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
    float: none;
    display: inline-block;
}

.image_content {
    float: left;
    margin-right: 13px;
    height: auto;
    display: table-cell;
}

.item_info {
    width: 530px;
    float: left;
    height: 100%;
    display: table-cell;
}

.infor{
    display: table-row;
}

.title {
    width: auto;
    line-height: 24px;
    font-size: 0.8em;
    color: #000;    
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;

    word-wrap: break-word;
    display: inline-block;
    text-align: left;
}

.vote_average {
    font-size: 0.8em;
    line-height: 24px;
    margin-top: 5px;
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
    display: table-cell;
    display: block;
    margin-left: auto;
    position: absolute;
    right: 0;
}

.rating {
    padding-top: 1px;
}

.meta {
    width: auto;
    display: table-row;
    font-size: 0.65em;
    position: relative;
    margin-bottom: 20px;
}

.release_date {
    width: auto;
    display: table-cell;
    color: #666;
    font-size: 0.6em;
    float: right;
    font-style: italic;
    right: 0;
    margin-right: 5px;
    position: absolute;
}

.genres {
    width: auto;
    word-wrap: break-word;
    font-style: italic;
    color: #666;
    float: left;
    font-size: 0.6em;
    display: table-cell;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.overview {   
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-right: 5px;
    text-align: left;
    color: #4d4d4d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overview:hover {
    width: auto;
    white-space: initial;
    overflow: visible;
    cursor: pointer;
}

.view_more {
    width: 100%;   
    border-top: 1px solid #eee;
    display: table-row;
    bottom:0; 
    font-size: 0.6em;
    float: left;
    color: #000;
    padding-top: 5px;
    margin-top: 20px;
}


.view_more a {
    
    font-weight: 400;
    color: #000;
    
}*/

.total2 {
    display: table;
    width: 900px;
    height: 525px;
    background-color: #FFF;
    float: none;
    position: relative;
    display: inline-block;
    margin-top: 5em;
}

.style_prevu_kit
{
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1);
    transition: all 100ms ease-in;
    transform: scale(1);  
}
.style_prevu_kit:hover
{
    background-color:#FFF;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 100ms ease-in;
    transform: scale(1.5);
    width: auto;
    white-space: initial;
    overflow: visible;
    cursor: pointer;
    font-size: 0.8em;
}

/* Boton lo tengo */

.add {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    width: 107px;
    color: #68aba7;
    text-align: center;
    border: solid 2px #72c1b9;
    background-color: #fff;
    font-family: Arial;
    font-size: 11px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
}

.add:hover {
    background-color: #f3f3f3; 
    text-decoration: none;
    color: #68aba7;
}

.wanted {
    color: #68aba7;
    text-align: center;
    border: solid 2px #72c1b9;
    background-color: #fff;
    display: block;
    padding: 0;
    margin-bottom: 10px;
    width: 107px;
    font-family: Arial;
    font-size: 11px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
}

.wanted:hover {
    background-color: #f3f3f3; 
    text-decoration: none;
    color: #68aba7;
}

/* Boton comprar */ 

.on-sale {
    right:20px;
    top:40px; 
    z-index:0;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.buy {
    display: inline-block;
    zoom: 1;
    font-size: 13px;
    padding: 3px 3px 3px 5px;
    line-height: 28px;
    font-weight: normal;
    color: #666;
    border: solid 1px #bbb;
    cursor: pointer;
    border-radius: 3px;
}

.buy:hover {
    border-color: #e56343;
    color: #e56343;
}

/* Modal confirm */

.pos {
    float: right;
    display: inline-block;
    margin-right: 10px;
}

/* SOPORTE Y COPIAS */

.sel_soporte {
    right: 255px;
    top: 430px;
    position: absolute;
    width: 105px;
}

.text_copias {
    left: 810px;
    bottom: 50px;
    position: absolute;
    width: 70px;
}

.text_ubicacion {
    left: 810px;
    bottom: 10px;
    position: absolute;
    width: 70px;
}

.soporte {
    left: 425px;
    bottom: 55px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.num_copias {
    left: 670px;
    bottom: 55px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}

.ubicacion {
    left: 725px;
    bottom: 15px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
}


.pos_medio {
    right: 370px;
    top: 478px;
    color: #000;
    font-size: 0.7em;
    position: absolute;
    width: 100%;
}

.text_pos_dvd {
    right: 293px;
    top: 478px;
    font-size: 1em;
    color: #666;
    position: absolute;
    width: 100%; 
}

.text_pos_blu {
    right: 248px;
    top: 478px;
    font-size: 1em;
    color: #666;
    position: absolute;
    width: 100%; 
}

.text_pos_hd {
    right: 185px;
    top: 478px;
    font-size: 1em;
    color: #666;
    position: absolute;
    width: 100%; 
}